<form class="registration-form" (ngSubmit)="onSubmit()">
  <h1>Registration Form</h1>

  <div>
    <label for="email">Email</label>
    <input type="email" name="email" [(ngModel)]="email">
  </div>

  <div>
    <label for="username">Username</label>
    <input type="text" name="username" [(ngModel)]="username">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password" [(ngModel)]="password">
  </div>

  <button type="submit">Register</button>
</form>
