form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4286f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0d6efd;
  }